{% extends "base.html" %}

{% block content %}
    <header><h1>Create Store</h1></header>
    <section class="create-store-form">
        <form method="post">
            <div class="mb-3">
                <label for="store_name", class="form-label">Store Name</label>
                <input type="text" class="form-control" id="store_name" name="store_name" placeholder="Amazon"
                aria-describedby="alert name help"/>
                <div id="alert name help" class="form-text">
                    Give a short description of the store you wanna add.
                </div>
            </div>
            <div class="mb-3">
                <label for="url_prefix" class="form-label">URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="https://..."
                       aria-describedby="URL prefix help"/>
                <div id="URL prefix help" class="form-text">
                    What URL will all items in the store start with?
                </div>
            </div>
            <div class="mb-3">
                <label for="tag_name" class="form-label">HTML Tag Name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span"
                       aria-describedby="tag name help"/>
                <div id="tag name help" class="form-text">
                    What HTML tag contains the price for items in this store?
                </div>
            </div>
            <div class="mb-3">
                <label for="attrs" class="form-label">HTML Tag Attributes</label>
                <input type="text" class="form-control" id="attrs" name="attrs" placeholder='{"class": "price"}'
                       aria-describedby="tag attributes help"/>
                <div id="tag attributes help" class="form-text">
                    What attributes of the HTML tag contains the price for items in this store?
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </section>
{% endblock %}